@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'SolaimanLipi';
  src: url("../fonts/SolaimanLipi.ttf"); }
@font-face {
  font-family: 'kalpurush';
  src: url("../fonts/kalpurush.ttf"); }
.top-header {
  background: rgba(23, 162, 184, 0.04);
  margin-bottom: 30px; }
  .top-header .top-icon {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(60, 60, 60, 0.02); }
    .top-header .top-icon .nav li a {
      font-size: 12px;
      color: #b5b5b5;
      margin-right: 15px;
      border-bottom: 1px solid red;
      text-decoration: none; }
      @media only screen and (max-width: 360px) {
        .top-header .top-icon .nav li a {
          font-size: 12px;
          margin-right: 5px; } }
    .top-header .top-icon .top-social-link li a {
      border-bottom: none;
      text-decoration: none; }
  .top-header .top-logo .Top-time-date {
    margin-top: 13px;
    font-family: "kalpurush"; }
    .top-header .top-logo .Top-time-date #day {
      font-size: 30px;
      font-weight: 600;
      color: #34495e;
      text-shadow: 0px 3px 3px #bbbbbb; }
    .top-header .top-logo .Top-time-date #date {
      font-weight: 600;
      color: #afaeae;
      text-shadow: 0px 0px 0px;
      font-size: 12px; }
    @media only screen and (max-width: 360px) {
      .top-header .top-logo .Top-time-date {
        margin-top: 5px;
        text-align: center; }
        .top-header .top-logo .Top-time-date #day {
          font-size: 22px; } }
  @media only screen and (max-width: 360px) {
    .top-header .top-logo img {
      width: 220px; } }
  .top-header .top-menu {
    background: #4f5963;
    box-shadow: 0px 9px 16px -2px rgba(0, 0, 0, 0.09); }
    .top-header .top-menu nav {
      border-left: 1px solid rgba(246, 251, 252, 0.22);
      padding-right: 0px; }
      .top-header .top-menu nav .nav-link {
        border-left: 1px solid rgba(246, 251, 252, 0.12);
        padding: 5px 20px;
        color: #FFF;
        font-weight: 600; }
        .top-header .top-menu nav .nav-link:hover {
          color: #fd3030; }
      .top-header .top-menu nav form .form-control {
        border-radius: 0px;
        background: transparent;
        border: 1px solid rgba(253, 173, 176, 0.12);
        border-right: 0px; }
      .top-header .top-menu nav form .btn {
        background: #ea6d64;
        border-radius: 0px 4px 4px 0px;
        border: 1px solid #ea6d64;
        color: #ffffff;
        border-left: 0px;
        cursor: pointer; }
    .top-header .top-menu a {
      color: #FFF;
      transition: .8s all;
      font-family: "kalpurush"; }
      .top-header .top-menu a:hover {
        color: #868e96; }
    @media only screen and (max-width: 360px) {
      .top-header .top-menu nav {
        border-left: none; }
        .top-header .top-menu nav .nav-link {
          text-align: center;
          border-left: 0px solid rgba(246, 251, 252, 0.12); }
      .top-header .top-menu .navbar-light .navbar-toggler {
        background: #FFF;
        border-radius: 2px; }
      .top-header .top-menu form .form-control {
        width: 85%; } }

main .card {
  border: none;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px; }
main .card-body p {
  font-family: "SolaimanLipi";
  font-size: 14px;
  text-shadow: 0px 0px 0px; }
main .card-body h3 a {
  font-family: "kalpurush";
  font-weight: 600;
  color: #fd3030;
  font-size: 22px;
  text-shadow: none;
  border-left: 0px solid #fe7171;
  padding-left: 0px; }
  main .card-body h3 a:hover {
    text-decoration: none;
    color: #34495e; }
main .card-body a {
  font-family: "kalpurush";
  font-weight: 600;
  font-size: 13px;
  text-shadow: 0px 5px 17px #d2cece;
  color: #bbb8b8;
  border-left: 3px solid #ffc107;
  padding-left: 8px; }
main .section-head {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  border-left: 3px solid #ffc107;
  padding-left: 10px;
  font-family: "SolaimanLipi"; }
  main .section-head #hbutton, main .section-head #hbutton2, main .section-head #hbutton3, main .section-head #hbutton4 {
    font-size: 14px;
    color: #ccc; }
  main .section-head a {
    font-family: "SolaimanLipi";
    color: #333;
    transition: .4s all; }
    main .section-head a:hover {
      color: #ffc107;
      text-decoration: none; }
main .headline .bigbox .card {
  min-height: 515px;
  overflow: hidden; }
main .headline .smbox .card {
  min-height: 238px;
  overflow: hidden; }
  main .headline .smbox .card h3 {
    height: 34px;
    overflow: hidden;
    padding: 2px 2px;
    margin-bottom: 4px; }
    main .headline .smbox .card h3 a {
      font-size: 16px; }
  main .headline .smbox .card .card-body {
    padding-top: 20px; }
main .topofthetown {
  background: rgba(23, 162, 184, 0.04);
  padding: 35px 0px; }
  main .topofthetown .bigbox .card {
    height: 526px;
    overflow: hidden; }
  main .topofthetown .smbox .card {
    height: 251px;
    overflow: hidden; }
    main .topofthetown .smbox .card h3 {
      height: 34px;
      overflow: hidden;
      padding: 2px 2px;
      margin-bottom: 4px; }
      main .topofthetown .smbox .card h3 a {
        font-size: 16px; }
    main .topofthetown .smbox .card .card-body {
      padding: 1.5rem;
      padding-top: 20px; }
  main .topofthetown .theamtab {
    min-height: 526px;
    background: #ffffff;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.06);
    border-radius: 4px; }
    main .topofthetown .theamtab .nav-tabs {
      border-radius: 4px 4px 0px 0px;
      background: #dedede;
      font-family: "SolaimanLipi";
      font-weight: 600; }
      main .topofthetown .theamtab .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: 0rem;
        color: #333; }
      main .topofthetown .theamtab .nav-tabs .nav-link.active {
        color: #fd3030; }
    main .topofthetown .theamtab ul {
      list-style-type: none;
      margin: 0px;
      padding: 20px 15px; }
      main .topofthetown .theamtab ul li {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(232, 232, 232, 0.58);
        padding: 6px 0px; }
      main .topofthetown .theamtab ul a {
        color: #333;
        font-family: "SolaimanLipi";
        font-size: 15px; }
        main .topofthetown .theamtab ul a:hover {
          text-decoration: none;
          color: #FF9800; }
main .thumwithside {
  background-image: url(../img/stardust.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding: 30px 0px; }
  main .thumwithside .card-body h3 {
    line-height: 14px;
    height: 40px;
    overflow: hidden;
    padding-left: 3px; }
    main .thumwithside .card-body h3 a {
      font-family: "kalpurush";
      font-weight: 600;
      font-size: 16px;
      text-shadow: none;
      color: #fd3030;
      border-left: 0px solid #fe7171; }
      main .thumwithside .card-body h3 a:hover {
        color: #34495e; }
  main .thumwithside .card-body p {
    height: 65px;
    overflow: hidden; }
  main .thumwithside .facetoface a:hover {
    text-decoration: none; }
  main .thumwithside .facetoface h3 {
    background: #ffc107;
    padding: 8px 15px;
    font-weight: 600;
    color: #FFF;
    margin: 0px;
    text-align: center;
    border-radius: 4px 4px 0px 0px; }
  main .thumwithside .facetoface .card {
    height: 578px;
    overflow: hidden;
    border-radius: 0px; }
    main .thumwithside .facetoface .card .card-img-top {
      border-radius: 0px; }
    main .thumwithside .facetoface .card .card-body p {
      height: 100%;
      color: #7b7b79; }
  main .thumwithside .facetoface blockquote {
    font-family: "kalpurush";
    font-size: 16px;
    font-weight: 600;
    color: #333; }
    main .thumwithside .facetoface blockquote i {
      color: #fd3030; }
main .thumview1 {
  padding: 30px 0px; }
  main .thumview1 .card-body h3 {
    line-height: 14px;
    height: 40px;
    overflow: hidden;
    padding-left: 3px; }
    main .thumview1 .card-body h3 a {
      font-family: "kalpurush";
      font-weight: 600;
      font-size: 16px;
      text-shadow: none;
      color: #fd3030;
      border-left: 0px solid #fe7171; }
      main .thumview1 .card-body h3 a:hover {
        color: #34495e; }
  main .thumview1 .card-body p {
    height: 65px;
    overflow: hidden;
    font-family: "SolaimanLipi"; }
main .thumview2 {
  padding: 30px 0px;
  background: rgba(23, 162, 184, 0.04); }
  main .thumview2 .card-body h3 {
    line-height: 14px;
    height: 40px;
    overflow: hidden;
    padding-left: 3px; }
    main .thumview2 .card-body h3 a {
      font-family: "kalpurush";
      font-weight: 600;
      font-size: 16px;
      text-shadow: none;
      color: #fd3030;
      border-left: 0px solid #fe7171; }
      main .thumview2 .card-body h3 a:hover {
        color: #34495e; }
  main .thumview2 .card-body p {
    height: 65px;
    overflow: hidden;
    font-family: "SolaimanLipi"; }
main .fullNews {
  margin-bottom: 25px; }
  main .fullNews .thumbnail {
    background: #ffffff;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 30px 20px; }
    main .fullNews .thumbnail h3 {
      font-family: "SolaimanLipi";
      font-weight: 600;
      color: #34495e;
      margin: 0px; }
    main .fullNews .thumbnail span {
      font-family: "kalpurush";
      font-size: 12px;
      color: #aaa; }
    main .fullNews .thumbnail img {
      margin-top: 15px; }
    main .fullNews .thumbnail blockquote {
      background: #eee;
      margin: 25px;
      padding: 20px;
      border-radius: 2px;
      font-family: "kalpurush";
      font-weight: 600; }
      main .fullNews .thumbnail blockquote i {
        color: #fd3030; }
    main .fullNews .thumbnail .newstext {
      font-family: "SolaimanLipi";
      line-height: 35px;
      color: #34495e; }
  main .fullNews .theamtab {
    min-height: 526px;
    background: #ffffff;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.06);
    border-radius: 4px; }
    main .fullNews .theamtab .nav-tabs {
      border-radius: 4px 4px 0px 0px;
      background: #dedede;
      font-family: "SolaimanLipi";
      font-weight: 600; }
      main .fullNews .theamtab .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: 0rem;
        color: #333; }
      main .fullNews .theamtab .nav-tabs .nav-link.active {
        color: #fd3030; }
    main .fullNews .theamtab ul {
      list-style-type: none;
      margin: 0px;
      padding: 20px 15px; }
      main .fullNews .theamtab ul li {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(232, 232, 232, 0.58);
        padding: 6px 0px; }
      main .fullNews .theamtab ul a {
        color: #333;
        font-family: "SolaimanLipi";
        font-size: 15px; }
        main .fullNews .theamtab ul a:hover {
          text-decoration: none;
          color: #FF9800; }
  main .fullNews .facetoface a:hover {
    text-decoration: none; }
  main .fullNews .facetoface h3 {
    background: #ffc107;
    padding: 8px 15px;
    font-weight: 600;
    color: #FFF;
    margin: 0px;
    text-align: center;
    border-radius: 4px 4px 0px 0px; }
  main .fullNews .facetoface .card {
    height: 578px;
    overflow: hidden;
    border-radius: 0px; }
    main .fullNews .facetoface .card .card-img-top {
      border-radius: 0px; }
    main .fullNews .facetoface .card .card-body p {
      height: 100%;
      color: #7b7b79; }
  main .fullNews .facetoface blockquote {
    font-family: "kalpurush";
    font-size: 16px;
    font-weight: 600;
    color: #333; }
    main .fullNews .facetoface blockquote i {
      color: #fd3030; }
  main .fullNews .releted-product {
    margin-top: 30px; }
    main .fullNews .releted-product .card-body {
      padding: 1rem; }
      main .fullNews .releted-product .card-body h3 {
        line-height: 13px; }
        main .fullNews .releted-product .card-body h3 a {
          font-size: 14px; }
main .category-section .card-body h3 {
  line-height: 14px;
  height: 40px;
  overflow: hidden;
  padding-left: 3px; }
  main .category-section .card-body h3 a {
    font-family: "kalpurush";
    font-weight: 600;
    font-size: 16px;
    text-shadow: none;
    color: #fd3030;
    border-left: 0px solid #fe7171; }
    main .category-section .card-body h3 a:hover {
      color: #34495e; }
main .category-section .card-body p {
  height: 65px;
  overflow: hidden; }
main .category-section .theamtab {
  min-height: 526px;
  background: #ffffff;
  box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.06);
  border-radius: 4px; }
  main .category-section .theamtab .nav-tabs {
    border-radius: 4px 4px 0px 0px;
    background: #dedede;
    font-family: "SolaimanLipi";
    font-weight: 600; }
    main .category-section .theamtab .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: 0rem;
      color: #333; }
    main .category-section .theamtab .nav-tabs .nav-link.active {
      color: #fd3030; }
  main .category-section .theamtab ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px 15px; }
    main .category-section .theamtab ul li {
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(232, 232, 232, 0.58);
      padding: 6px 0px; }
    main .category-section .theamtab ul a {
      color: #333;
      font-family: "SolaimanLipi";
      font-size: 15px; }
      main .category-section .theamtab ul a:hover {
        text-decoration: none;
        color: #FF9800; }
main .category-section .facetoface a:hover {
  text-decoration: none; }
main .category-section .facetoface h3 {
  background: #ffc107;
  padding: 8px 15px;
  font-weight: 600;
  color: #FFF;
  margin: 0px;
  text-align: center;
  border-radius: 4px 4px 0px 0px; }
main .category-section .facetoface .card {
  height: 578px;
  overflow: hidden;
  border-radius: 0px; }
  main .category-section .facetoface .card .card-img-top {
    border-radius: 0px; }
  main .category-section .facetoface .card .card-body p {
    height: 100%;
    color: #7b7b79; }
main .category-section .facetoface blockquote {
  font-family: "kalpurush";
  font-size: 16px;
  font-weight: 600;
  color: #333; }
  main .category-section .facetoface blockquote i {
    color: #fd3030; }

footer {
  padding-top: 30px;
  background: #282828; }
  footer .top-footer a {
    color: #b3b3b3;
    font-family: "kalpurush";
    font-weight: 600;
    letter-spacing: 1px; }
    footer .top-footer a:hover {
      color: #FF5722; }
  @media only screen and (max-width: 360px) {
    footer .top-footer a {
      font-size: 13px; } }
  footer .small-footer {
    background: #000;
    padding: 7px 0px; }
    footer .small-footer p {
      color: #d2d2d2;
      font-family: "SolaimanLipi";
      font-size: 12px;
      margin: 0px; }
    footer .small-footer .copnyright {
      margin-top: 20px; }
      footer .small-footer .copnyright p {
        font-family: "kalpurush";
        font-size: 14px;
        font-weight: 600;
        color: #636363; }

/*# sourceMappingURL=style.css.map */
